@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gap: clamp(5rem, 7vw, 7.5rem);
	--toastContainerTop: 6rem;
	--toastContainerRight: auto;
	--toastContainerBottom: auto;
	--toastContainerLeft: calc(50vw - 8rem);
}

* {
	font-family: 'Inter', sans-serif;
}
